<h2><%= @flat.name %></h2>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>

<%= link_to 'Edit', edit_flat_path(@flat) %>
<%= link_to "Delete #{@flat.name}",
            flat_path(@flat),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to 'Back', flats_path %>
